/* 

[[ Responsive Breakpoints ]]

320px ... minimum width of app; smaller cell phone (iPhone 5/SE)
414px ... wider contemporary cell phone (iPhone 6/7/8 Plus)
667px ... iPhone 6/7/8 in landscape mode
768px ... iPad in portrait mode
1024px ... non-widescreen desktop; iPad in landscape mode
1366px ... widescreen desktop
1920px ... high-definition display

*/

/* Font Imports */

@font-face {
  font-family: "Rabbid Highway Sign II";
  src: local(RabbidHighwaySignII),
    url('./../assets/fonts/RabbidHighwaySignII.otf') format("opentype");
}

/* Global Resets */

form, input, textarea, button, p, div, header, footer, main, section, nav, audio, ul, ol, li, h1, h2, h3, h4, a, span {
  box-sizing: border-box; /* Ensures padding is not included for width calculations */
  margin: 0; /* Kill default values defined by the browser */
  padding: 0; /* Kill default values defined by the browser */
  font-family: inherit;
}

/* Kill default padding for body */
body {
  padding: 0;
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* No default list style for lists */
ol, ul {
	list-style: none;
}

/* No default spacing for table cells */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Kill default values for a tags */
a { 
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

/* Kill outlines in Chrome and Firefox for a tags, buttons, and input boxes */
button, a, input, textarea {
  outline: none;
}

/* General Style Declarations */

body {
  font-family: Raleway, Tahoma, Geneva, sans-serif;
  /* Add mobile-friendly styles */
  width: 100%;
  min-height: 100vh; /* Maximumize to height of viewing window */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

/* Responsible styles */

@media screen and (min-width: 667px) {
  .mobile-only {
    display: none;
  }
  .tablet-and-desktop-only {
    display: initial;
  }
}

/* Header Bar */

header {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit; /* To be determined */
}

.header-logo {
  height: 60%;
  margin-right: 60px;
}

.logo-text-only {
  height: 100%; /* Controlled by flexed container */
}

/* Hide menu button on tablet width or above */
@media screen and (min-width: 667px) {
  .menu-button-container {
    display: none;
  }
}

.menu-button {
  /* Button style resets */
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  /* font */
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}

.menu-button .icon {
  margin-right: 3px;
}

/* Tablet and Desktop Navigation */

.header-nav {
  display: none;
}

@media screen and (min-width: 667px) { /* Show menu on tablet width or above */
  .header-nav {
    display: initial;
    height: 35px;
    flex-grow: 1; /* Take up all available space */
  }
}

.header-nav ul {
  width: 100%; /* Width controlled by parent nav element */
  height: 100%; /* Same height as parent container */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-nav ul li {
  height: 70%;
}

.header-nav .menu-item-container {
  height: 100%; /* Fill to height of container */
}

.header-nav .icon {
  height: 100%; /* Contains image */
  font-size: 1.5em; /* For font awesome icons */
}

.header-nav .label {
  display: none; /* For future use */
}

.header-nav .icon img {
  height: 100%; /* Constrain to height of container */
}


/* Mobile Navigation */

nav#menu { /* Absolute positioning unnecessary, as we completely hide the content while displaying the menu */
  width: 100%;
}

nav#menu ul {
  width: 100%;
  min-height: calc(100vh - 35px); /* Stretch to height of viewing area less the header */
  background-color: lightgrey;
  border: 1px solid black;
}

nav#menu ul li {
  height: calc(((100vh - 35px) / 9) - 1px); /* Height of container divided by number of options, less height of bottom border */
  min-height: 35px;
  border-bottom: 1px solid black;
}

nav#menu ul li:last-child {
  border-bottom: none;
}

nav#menu .menu-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

nav#menu .icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 15px;
}

nav#menu .icon img {
  height: 20px;
}

nav#menu .label {
  font-size: 1.2em;
  font-weight: 600;
}

/* Primary Content */

.content-container { /* Wraps both the content and footer */
  width: 100%;
  flex-grow: 1; /* Stretch to height of view */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  flex-grow: 1; /* Stretch to fill container */
}

.content a {
  color: #D46B29;
  font-weight: 600;
}

/* Landing Page */

.landing-titles {
  width: 100%;
  margin: 40px 0;
  background: center / contain no-repeat url("../assets/imgs/logo-sans-text.png");
}

.title-wrapper { /* Includes a watermark image mask for the background image */
  width: 100%;
  height: 200px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
}

.title-wrapper span {
  max-width: 320px; /* Forcing titles to stay positioned on top of watermark */
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 2.0em;
  word-spacing: 2.0em;
  text-align: center;
  line-height: 2.2; /* Roughly double-spaced */
}

/* Content Pages */

.content-info {
  margin: 20px 0;
  width: 100%;
  padding: 0 10px;
}

.content-info:last-child {
  margin-bottom: 0;
}

.content-info h1 {
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.content-info h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: #AC29D4;
  margin-bottom: 15px;
}

.content-info p {
  margin-bottom: 15px;
}

.content-info ul {
  margin-bottom: 15px;
  padding-left: 15px;
}

.content-info ul li {
  font-size: 1em;
  line-height: 1.5;
}

.list-icon {
  margin-right: 5px;
}

/* Calendar styles */

.calendar-wrapper { /* Do not display on mobile */
  display: none;
}

@media screen and (min-width: 667px) {
  .calendar-wrapper { /* Controls width of iframe */
    display: flex;
    margin: 0 auto;
    position: relative; /* Needed for controls */
  }
}

.calendar-wrapper .controls {
  position: absolute; /* With respect to the calendar wrapper */
  top: 0;
  right: 0;
}

.calendar-wrapper .controls a {
  font-size: .9em;
  font-weight: normal;
  margin-left: 10px;
  color: #2976D4;
}

/* Audio Archives */

.archive-wrapper {
  margin: 20px 0 10px 0;
  width: 100%;
}

.archive-wrapper h1 {
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
  padding: 0 10px;
}

.archive-wrapper p {
  margin-bottom: 15px;
  padding: 0 10px;
}

.archive-selections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
}

.archive-selections:last-child {
  border-bottom: none;
}

.archive-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(67.5, 16.1, 83.1, 0.1);
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.archive-card-info-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

@media screen and (min-width: 667px) {

  .archive-wrapper {
    margin-bottom: 0;
  }

  .archive-selections {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
  }
  
  .archive-card {
    width: calc(50% - 5px); /* Width of container less padding in-between */
    margin-bottom: 10px;
    border: 1px solid black;
  }
  
}

.image-wrapper {
  height: 100%;
  margin-right: 10px;
}

.image-wrapper img {
  height: 100%; /* This should re-size the image and maintain ratio */
}

.selection-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selection-info > span {
  margin-bottom: 3px;
}

.selection-info span .info {
  font-style: italic;
}

.selection-info .title {
  font-weight: 600;
}

.audio-player {
  padding: 15px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.copyright {
  font-size: 1em;
  color: inherit /* To be determined */
}
