/* 

[[ Responsive Breakpoints ]]

320px ... minimum width of app; smaller cell phone
414px ... wider contemporary cell phone
768px ... tablet in portrait mode
1024px ... non-widescreen desktop; tablet in landscape mode
1366px ... widescreen desktop
1920px ... high-definition display

*/

/* Font Imports */

@font-face {
  font-family: "Rabbid Highway Sign II";
  src: local(RabbidHighwaySignII),
    url('./../assets/fonts/RabbidHighwaySignII.otf') format("opentype");
}

/* Global Resets */

form, input, textarea, button, p, div, header, footer, main, section, nav, audio, ul, ol, li, h1, h2, h3, h4, a, span {
  box-sizing: border-box; /* Ensures padding is not included for width calculations */
  margin: 0; /* Kill default values defined by the browser */
  padding: 0; /* Kill default values defined by the browser */
  font-family: inherit;
}

/* Kill default padding for body */
body {
  padding: 0;
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* No default list style for lists */
ol, ul {
	list-style: none;
}

/* No default spacing for table cells */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Kill default values for a tags */
a { 
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

/* Kill outlines in Chrome and Firefox for a tags, buttons, and input boxes */
button, a, input, textarea {
  outline: none;
}

/* General Style Declarations */

body {
  font-family: Raleway, Tahoma, Geneva, sans-serif;
  /* Add mobile-friendly styles */
  width: 100%;
  min-height: 100vh; /* Maximumize to height of viewing window */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.image-container img {
  width: 100%; /* Assumes a flexed image container: fill to width of container */
}

/* Header Bar */

header {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit; /* To be determined */
}

.header-logo {
  height: 80%;
}

.logo-text-only {
  height: 100%; /* Controlled by flexed container */
}

.menu-button {
  /* Button style resets */
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  /* font */
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}

.menu-button .icon {
  margin-right: 3px;
}

/* Navigation */

nav { /* Absolute positioning unnecessary, as we completely hide the content while displaying the menu */
  width: 100%;
  min-height: calc(100vh - 35px); /* Stretch to height of viewing area less the header */
  background-color: lightgrey;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

nav ul {
  width: 100%;
  border: 1px solid black;
}

nav ul li {
  height: calc(100% / 9); /* Height of container divided by number of options */
  min-height: 35px;
  border-bottom: 1px solid black;
}

nav ul li:last-child {
  border-bottom: none;
}

.menu-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

nav ul li .icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 15px;
}

nav ul li .icon img {
  height: 20px;
}

nav ul li .label {
  font-size: 1.2em;
  font-weight: 600;
}

/* Primary Content */

.content-container { /* Wraps both the content and footer */
  width: 100%;
  flex-grow: 1; /* Stretch to height of view */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  flex-grow: 1; /* Stretch to fill container */
}

.content a {
  color: #D46B29;
  font-weight: 600;
}

/* Landing Page */

.landing-titles {
  width: 100%;
  margin: 40px 0;
  display: flex;
  background: center / contain no-repeat url("../assets/imgs/logo-sans-text.png");
}

.landing-titles span {
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 2.0em;
  /* line-height: 1.5em; */
  margin-bottom: 60px;
}

.landing-titles span:last-of-type {
  margin-bottom: 0; /* No margin-bottom for last span */
}

.image-mask {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Content Pages */

.content-info {
  margin: 20px 0;
  width: 100%;
  padding: 0 10px;
}

.content-info:last-child {
  margin-bottom: 0;
}

.content-info h1 {
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.content-info h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: #AC29D4;
  margin-bottom: 15px;
}

.content-info p {
  margin-bottom: 15px;
}

.content-info ul {
  margin-bottom: 15px;
  padding-left: 15px;
}

.list-icon {
  margin-right: 5px;
}

/* Audio Archives */

.archives-wrapper {
  margin: 20px 0;
  width: 100%;
}

.archives-wrapper:last-child {
  margin-bottom: 0;
}

.archives-wrapper h1 {
  font-family: "Rabbid Highway Sign II", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
  padding: 0 10px;
}

.archive-selections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.archive-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(67.5, 16.1, 83.1, 0.1);
  padding: 5px 0;
}

.archive-card-info-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 5px;
}

.image-wrapper {
  margin-right: 5px;
}

.image-wrapper img {
  height: 100%;
}

.selection-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selection-info > span {
  font-size: .8em;
  margin-bottom: 3px;
}

.selection-info span .info {
  font-style: italic;
}

.selection-info .title {
  font-weight: 600;
}

.selection-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button, .close-button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 4.0em;
}

.play-button span, .close-button span {
  display: none;
}

.audio-player {
  padding: 10px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.copyright {
  font-size: 1em;
  color: inherit /* To be determined */
}
