/* Font Imports */

@font-face {
  font-family: "Raleway";
  src: local(Raleway),
       url('https://fonts.googleapis.com/css?family=Raleway');
}

@font-face {
  font-family: "Rabbid Highway Sign II";
  src: local(RabbidHighwaySignII),
       url('./assets/fonts/RabbidHighwaySignII.otf') format("opentype");
}

/* Global Resets */

form, input, textarea, button, p, div, header, footer, main, section, nav, audio, ul, ol, li, h1, h2, h3, h4, a, span {
  box-sizing: border-box; /* Ensures padding is not included for width calculations */
  margin: 0; /* Kill default values defined by the browser */
  padding: 0; /* Kill default values defined by the browser */
  font-family: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* No default list style for lists */
ol, ul {
	list-style: none;
}

/* No default spacing for table cells */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Kill default values for a tags */
a { 
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

/* General Style Declarations */

body {
  font-family: "Raleway", "Tahoma", "Geneva", sans-serif;
}

.hidden {
  display: none;
}

/* Header Bar */

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  background-color: inherit; /* To be determined */
}

/* Header logo only visible on mobile */
@media screen and (min-width: 414px) {
  .logo-text-only {
    display: none;
  }
}

.header-logo {
  height: 100%; /* Fill height of container */
}

.logo-text-only {
  height: 100%; /* Fill height of container */
}

.nav-links {
  height: 100%; /* Fill height of container */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.nav-links a {
  flex-direction: column;
  align-items: center;
  margin-left: 4em;
}

.nav-links .icon {
  font-size: 3em;
  color: black /* To be determined */
}

.nav-links .label {
  display: none; /* Possibly to be used for wider screenwidths?
}
